.cover {
  background-color: #2a2c2f;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 92px 0;
}

.cover__bg {
  background-image: url(../images/cover__background.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  max-width: 1184px;
  max-height: 740px;
}

.cover__bg:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/cover__background.jpg");
}

.cover__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  margin: 0;
  padding: 234px 246px;
}

.cover__title {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
}

.cover__subtitle {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.cover__button {
  margin: 0;
  padding: 0;
  background-color: #0278fe;
  width: 191px;
  height: 48px;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  color: #fff;
  border: none;
  padding: 13px 20px;
  gap: 10px;
}

.cover__button:hover {
  background: #0063d2;
  cursor: pointer;
}
