.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 0;
  padding: 0 0 92px;
}

.gallery__item {
  width: 284px;
  height: 213px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0 0 88px;
  }

  .gallery__item {
    max-width: 352px;
    max-height: 264px;
  }
}

@media screen and (max-width: 720px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    padding: 0 0 62px;
  }

  .gallery__item {
    width: 288px;
    height: 216px;
  }
}
