.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a2c2f;
  color: white;
  padding: 0 92px 92px;
  margin: 0;
}

.main__intro {
  width: 100%;
  height: 100%;
  max-width: 984px;
  padding: 0 0 118px;
}

.main__title {
  max-width: 830px;
  margin: 0;
  padding: 0 0 40px;
  font-family: "Inter";
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
}

.main__quote {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 737px;
  padding: 0 0 32px;
  margin: 0;
}

.main__quote-text {
  margin: 0;
  padding: 0 0 10px;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

.main__quote-author {
  margin: 0;
  padding: 0 16px 0 0;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

.main__description {
  max-width: 720px;
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

@media screen and (max-width: 1024px) {
  .main {
    padding: 0 24px 92px;
  }

  .main__intro {
    padding: 0 0 90px;
  }

  .main__title {
    padding: 0 0 58px;
  }

  .main__quote-text {
    padding: 0;
  }
}

@media screen and (max-width: 720px) {
  .main {
    padding: 0 16px 64px;
  }

  .main__intro {
    padding: 0 0 90px;
  }

  .main__title {
    font-size: 32px;
    line-height: 35px;
  }

  .main__quote-text {
    padding: 0 0 10px;
  }
}
