.places {
  background-color: #2a2c2f;
  color: #fff;
}

.places__cards {
  max-width: 987px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  gap: 80px;
}

.card__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "title website"
    "image paragraph"
    "button paragraph"
    ". paragraph";
  margin: 0;
  padding: 0;
  column-gap: 40px;
}

.card__content_title {
  max-width: 460px;
  grid-area: title;
  margin: 0;
  padding: 0 0 48px;
  /*grid-column: 1/2;
  grid-row: 1/2;*/
  font-family: "Inter";
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
}

.card__content_artist {
  margin: 0;
  padding: 0;
  grid-area: website;
  display: flex;
  flex-direction: column;
  /*grid-column: 2/4;
  grid-row: 1/2;*/
}

.card__content_artist-title {
  margin: 0;
  padding: 0 0 8px;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-align: left;
  text-transform: uppercase;
}

.card__content_artist-paragraph {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.card__content_image {
  margin: 0;
  padding: 0 0 48px;
  grid-area: image;
  width: 100%;
  object-fit: cover;
  /*grid-row: 2/3;
  grid-column: 1/2;*/
}

.card__content_description {
  max-width: 484px;
  display: flex;
  flex-direction: column;
  grid-area: paragraph;
  /*grid-column: 2/3;
  grid-row: 2/5;*/
  gap: 27px;
}

.card__content_description-paragraph {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  padding: 0;
  gap: 27px;
}

.card__content_button {
  grid-area: button;
  background-color: #0278fe;
  width: 285px;
  height: 48px;
  margin: 0;
  padding: 0;
  /*grid-column: 1/2;
  grid-row: 3/4;*/
  border-radius: 4px;
  color: #fff;
  border: none;
}

.card__content_button:hover {
  background-color: #0063d2;
  cursor: pointer;
}

@media (max-width: 768px) {
  .places__cards {
    gap: 72px;
  }
  .card__content {
    max-width: 733px;
  }
  .card__content_title {
    font-size: 42px;
    line-height: 46px;
  }
  .card__content_artist-title {
    line-height: 14px;
  }
  .card__content_description-paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
